.ntmqm { 
  padding-left: 43px;
  margin-right: 20px;
  margin-top: 48px;
  padding-right: 86px;
  margin-top: 24px;
  margin-right: 91px;
  margin-right: 98px;
  margin-right: 99px;
  padding-right: 27px;
}
